@import "tailwindcss";

:root {
    --font-geist-sans: 'Geist Sans', sans-serif;
    --font-geist-mono: 'Geist Mono', monospace;
}

@theme inline {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-light: #4b8862;
    --color-primary-dark: #1b5230;

    --color-background-light: #f5f5f5;
    --color-foreground-light: #1f2937;

    --color-background: #262222;
    --color-foreground: #c7d3e1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
